@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/* line 3, scss/screen.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 7, scss/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, scss/screen.scss */
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  background: #fdf6e3;
  color: #657b83;
  padding: 50px 0;
}

/* line 21, scss/screen.scss */
a {
  color: #d33682;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 27, scss/screen.scss */
header, article {
  width: 500px;
  margin: 0 auto;
  padding: 50px 20px;
}

/* line 33, scss/screen.scss */
figure {
  font-size: 12px;
  line-height: 18px;
}

/* line 38, scss/screen.scss */
h1 {
  font-size: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #d33682;
}

/* line 45, scss/screen.scss */
h2 {
  color: #b58900;
  font-weight: normal;
  margin-bottom: 10px;
}

/* line 51, scss/screen.scss */
p {
  margin-bottom: 20px;
}

/* line 55, scss/screen.scss */
ul li {
  list-style: square;
}

/* line 59, scss/screen.scss */
article {
  padding-bottom: 100px;
}

/* line 63, scss/screen.scss */
pre {
  font-family: "Monaco", "Courier", monospace;
  position: relative;
  overflow: auto;
  background: #002b36;
  color: #93a1a1;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 2px 10px inset;
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
  border-radius: 3px;
}

/* line 77, scss/screen.scss */
pre code {
  font-family: "Monaco", "Courier", monospace;
  background: none;
  padding: 0;
  white-space: pre;
  box-shadow: none;
  border-radius: 0;
}
